.color-picker-dialog {
  position: absolute;
  top: 0;
  background: #000;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: 998;
  &-wrapper {
    margin-top: 10vh;
  }
  &-footer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  &-button {
    width: 300px;
    margin-top: 30px;
    display: block;
    &.confirm-button {
      color: #000;
      background: #ff9900;
    }
  }
}

.color-picker-preview {
  height: 60px;
  line-height: 60px;
  width: 510px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  &-font {
    flex: 1;
    color: #fff;
  }

  &-block {
    border: 2px solid #fff;
    box-sizing: border-box;
    flex: 1;
  }
}
.color-picker {
  color: #fff;
  position: relative;
  height: 700px;
  &-map {
    width: 510px;
    height: 510px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
    &-item {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0;
      margin: 0 auto;
      width: inherit;
      height: inherit;
      &.solid {
        border: 2rpx solid transparent;
      }

      &.white {
        background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
        z-index: 10;
      }

      &.black {
        background: linear-gradient(to top, #000, rgba(255, 255, 255, 0));
        z-index: 11;
        border: 2rpx solid #666;
      }
    }
  }
  &-area {
    .movable-area {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 11;
      width: 570px;
      height: 570px;
      &-pointer {
        width: 60px;
        height: 60px;
        background: #fff;
        border-radius: 50%;
        box-sizing: border-box;
        border: 2px solid #5e5e5e;
      }
    }
  }
}

.color-picker-bar {
  margin-top: 30px;
  position: relative;
  .movable-area {
    height: 70px;
    width: 558px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 18;
    &-pointer {
      height: 70px;
      width: 40px;
      background: #fff;
      border-radius: 3px 3px 0 0;
      &::before {
        content: '';
        position: absolute;
        top: -19px;
        left: 0px;
        border-width: 0 20px 20px;
        border-style: solid;
        border-color: transparent transparent #fff;
      }
    }
  }
  &-color {
    position: absolute;
    z-index: 17;
    bottom: 70px;
    left: 0;
    right: 0;
    height: 60px;
    width: 518px;
    margin: 0 auto;
    background: linear-gradient(
      to right,
      #ff0000 0%,
      #ffff00 17%,
      #00ff00 33%,
      #00ffff 50%,
      #0000ff 67%,
      #ff00ff 83%,
      #ff0000 100%
    );
  }
}
