.pornhub-container {
  padding: 30px;
}
.pornhub {
  color: #fff;
  font-weight: bold;
  word-break: break-all;
  &-logo {
    border: 1px solid #333;
    margin: auto;
    padding: 100px 30px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-left {
    display: inline-block;
  }
  &-right {
    display: inline-block;
  }

  &-form {
    margin-top: 50px;
    &-item {
      padding: 0 100px 0;
      margin-bottom: 80px;
      &.slider-item {
        margin-top: 70px;
      }

      .save-button {
        background: #FF9900;
      }
    }
  }
}
