.color-block {
  display: inline-block;
  margin-right: 20px;
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-label {
    color: rgb(184, 184, 184);
    margin-right: 10px;
  }
  &-preview {
    border: 2px solid #fff;
    border-radius: 2px;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
  }
}
